* {
	margin: 5px 0.0px 0.0px 0.0px; 
  padding: 0.0px 0.0px 0.0px 0.0px; 
	text-align: right; 
	font: 18.0px 'Songti SC'; 
	color: #000000; 
	-webkit-text-stroke: #000000;
}

#menu p{
	height:40px;
}

#menu span.s1 {
	font-kerning: none;
}

#menu .p1 span,#menu .p2 span{  
  float: right;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1em;
  font-size: 4vh;
  display: inline-block;
}

#menu .p2 span{
  line-height: 1.8em;
  font-size: 3vh;
}



/* 添加悬浮下划线样式 */
.underline-on-hover:hover {
  text-decoration: underline;
}

/* 添加点击后透明度效果 */
.clickable-text {
  color: #000000; /* 初始文字颜色 */
}

.clickable-text.clicked {
  color: rgba(0, 0, 0, 0.1); /* 透明度10% */
}

a {
  text-decoration: none; /* 去掉默认的下划线 */
  color: inherit; /* 使用父元素的颜色 */
  font-size: inherit;
}
 
/* 设置为自定义图像作为指针 */
* {
  cursor: url('../images/mousee.png'), auto;
}

div#menu {
    position: fixed;
    right: 0;
}

div#art {
    width: 50%;
    float: left;
    position: absolute;
    margin: 0px 0px 0px 0px;
}

li img {
    width: 100%;
}

#art p {
    width: 100%;
    text-align: left;
    padding: 0px 300px 0px 0px;
    font-size: 21px;
    margin: -10px 0px 200px 0px;
}

.grey p span {
    color: #0000000;


}

div#about p {
    font-size: 18px;
    width: 90%;
    float: left;
    text-align: left;
    margin: -5px 0px 0px 10px;
}